{% extends 'base.html.twig' %}

{% block title %}INDEX {% endblock %}

{% block body %}
    <h1>soso</h1>
    <div><a href="{{ path('tovari_index') }}">Tovari</a></div>
    <div> <a href="{{ path('zakazchiki_index') }}">Zakazchiki</a></div>
    <div><a href="{{ path('zakazi_index') }}">Zakazi</a></div>
{% endblock %}