{% extends 'base.html.twig' %}

{% block title %}Edit Zakazchiki{% endblock %}

{% block body %}
    <h1>Edit Zakazchiki</h1>

    {{ include('zakazchiki/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('zakazchiki_index') }}">back to list</a>

    {{ include('zakazchiki/_delete_form.html.twig') }}
{% endblock %}
