{% extends 'base.html.twig' %}

{% block title %}New Zakazchiki{% endblock %}

{% block body %}
    <h1>Create new Zakazchiki</h1>

    {{ include('zakazchiki/_form.html.twig') }}

    <a href="{{ path('zakazchiki_index') }}">back to list</a>
{% endblock %}
